
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Bienvenidos a la Gestión de Recursos Humanos</h2></center>
<center><img src="https://dmm40cf0lyret.cloudfront.net/wp-content/uploads/2019/07/Gestio%CC%81n-de-recursos-humanos.png" height="450px" width="450px" /></center>

