@model Entidad.Cargos

@{
    ViewBag.Title = "Eliminar Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Cargo</h2>

<h3>¿Seguro de querer eliminarlo?</h3>
<div>
    @*<h4>Cargos</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |  
            <a class="btn btn-warning" title="Cancelar" href="@Url.Action("Details")">Cancelar</a>
        </div>
    }
</div>
